<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="team.io.youcodeio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_youcodeio"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashScreen"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.about.AboutActivity"
            android:label="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.conferences.ConferencesActivity"
            android:label="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.channels.ChannelsActivity"
            android:label="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.search.SearchResultActivity"
            android:label="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.search.SearchPropositionsActivity"
            android:label="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.about.TeamDetailActivity"
            android:label="@style/AppTheme"/>
        <activity
            android:name=".ui.activity.channels.ChannelLatestVideosActivity"
            android:label="@style/AppTheme"/>
        <activity
            android:name=".ui.adapter.search.VideoDetailsActivity"
            android:label="@style/AppTheme"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dda52416806bd3d1abea84931610c82ee07f891e" />

    </application>

</manifest>